name: Code coverage

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

env:
  CARGO_TERM_COLOR: always

jobs:
  code_coverage:
    name: Code Coverage
    runs-on: "ubuntu-latest"
    if: github.event_name == 'push' || !github.event.pull_request.draft

    steps:
    - name: Checkout repository
      uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8
      with:
        ref: ${{ github.event.pull_request.head.sha }}

    - name: Install Rust
      uses: dtolnay/rust-toolchain@e97e2d8cc328f1b50210efc529dca0028893a2d9
      with:
        toolchain: stable

    - name: Load cache
      uses: Swatinem/rust-cache@779680da715d629ac1d338a641029a2f4372abb5

    - name: Install cargo-llvm-cov
      uses: taiki-e/install-action@3522286d40783523f9c7880e33f785905b4c20d0
      with:
        tool: cargo-llvm-cov

    - name: Install nextest
      uses: taiki-e/install-action@3522286d40783523f9c7880e33f785905b4c20d0
      with:
        tool: nextest

    - name: Install just
      uses: taiki-e/install-action@3522286d40783523f9c7880e33f785905b4c20d0
      with:
        tool: just

    - name: Create the coverage report
      run: just coverage-codecov

    - name: Upload coverage to Codecov
      uses: codecov/codecov-action@671740ac38dd9b0130fbe1cec585b89eea48d3de
      with:
        token: ${{ secrets.CODECOV_TOKEN }}

    - name: Upload test results to Codecov
      if: ${{ !cancelled() }}
      uses: codecov/test-results-action@0fa95f0e1eeaafde2c782583b36b28ad0d8c77d3
      with:
        files: ./target/nextest/ci/junit.xml
        token: ${{ secrets.CODECOV_TOKEN }}
