name: Code coverage

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

env:
  CARGO_TERM_COLOR: always

jobs:
  code_coverage:
    name: Code Coverage
    runs-on: "ubuntu-latest"
    if: github.event_name == 'push' || !github.event.pull_request.draft

    steps:
    - name: Checkout repository
      uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8
      with:
        ref: ${{ github.event.pull_request.head.sha }}

    - name: Install Rust
      uses: dtolnay/rust-toolchain@b3b07ba8b418998c39fb20f53e8b695cdcc8de1b
      with:
        toolchain: stable

    - name: Load cache
      uses: Swatinem/rust-cache@98c8021b550208e191a6a3145459bfc9fb29c4c0

    - name: Install cargo-llvm-cov
      uses: taiki-e/install-action@6064345e6658255e90e9500fdf9a06ab77e6909c
      with:
        tool: cargo-llvm-cov

    - name: Install nextest
      uses: taiki-e/install-action@6064345e6658255e90e9500fdf9a06ab77e6909c
      with:
        tool: nextest

    - name: Install just
      uses: taiki-e/install-action@6064345e6658255e90e9500fdf9a06ab77e6909c
      with:
        tool: just

    - name: Create the coverage report
      run: just coverage-codecov

    - name: Upload coverage to Codecov
      uses: codecov/codecov-action@fdcc8476540edceab3de004e990f80d881c6cc00
      with:
        token: ${{ secrets.CODECOV_TOKEN }}

    - name: Upload test results to Codecov
      if: ${{ !cancelled() }}
      uses: codecov/test-results-action@47f89e9acb64b76debcd5ea40642d25a4adced9f
      with:
        files: ./target/nextest/ci/junit.xml
        token: ${{ secrets.CODECOV_TOKEN }}
