name: docs

on:
  push:
    branches: [main]
  pull_request:

jobs:
  docs:
    name: docs
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8

      - name: Install stable toolchain
        uses: dtolnay/rust-toolchain@e97e2d8cc328f1b50210efc529dca0028893a2d9
        with:
          toolchain: nightly

      - uses: Swatinem/rust-cache@f13886b937689c021905a6b90929199931d60db1

      - name: Build docs
        run: cargo doc --no-deps -Zrustdoc-map
        env:
          RUSTDOCFLAGS: "--enable-index-page -Zunstable-options --cfg docsrs"

      - name: Deploy docs
        if: ${{ github.event_name == 'push' && github.ref == 'refs/heads/main' }}
        uses: peaceiris/actions-gh-pages@4f9cc6602d3f66b9c108549d475ec49e8ef4d45e
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          publish_dir: ./target/doc/
          force_orphan: true
